body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 40px;
  font-weight: bold;
  line-height: 34px;
  height: 77px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 77px;
}

.square:hover, .divBtn:hover {
	background-color: lightyellow;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {

}

.game-info {
  display:inline-block;
  margin-left: 50px;
  width: 350px;
}

.game-board {
  float: left;
  display:inline-block;
}

.square-winner, .divBtn-winner {
  background-color: yellow;
}

.divBtn {
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  padding: 20px;
  cursor: pointer;
}

.game-moves .divBtn:last-child {
  border-bottom: 1px solid #999;
}

.divBtnActive {
	font-weight: bold;
}

.square-x {
  color: blue;
}

.square-o {
  color: mediumpurple;
}

.square-active {
  background-color: lightgreen;
}



